extends navbar

block static_content
	div.grid.all_pages
		each page in pages
			//- Extract data
			- var title = 'N/A';
			- var author = 'N/A';
			- var coverImageUrl = 'http://placehold.it/400x275';
			- var datetime = page._id.getTimestamp()
			- datetime = (datetime.getMonth() + 1) + '/' + datetime.getDate() + '/' + datetime.getFullYear()
			each o in page.components
				if o.component_type == "header"
					- title = o.component_data["title"]
					- author = o.component_data["author"]
					- coverImageUrl = o.component_data["image"]
					break

			//- Display data
			a(href='/update?pageID=' + page._id)
				div.col-sm-6.col-md-3.page
					div.panel.panel-default
						div.cover-image-container
							div.coverImage.card-img-top(style='background-image: url(#{coverImageUrl})')
						div.panel-body
							p.title.card-text #{title}
							p.author.card-text By #{author}
							span.datetime.card-text.text-muted Created #{datetime}
						div.panel-icons
							form.btn-wrapper(method='POST', action='/page/#{page._id}?_method=DELETE')
								button.btn(type='submit')
									span.glyphicon.glyphicon-trash
						