extends template

block content
	div.grid.all_pages
		each page in pages
			//- Extract data
			- var title, author, coverImageUrl = null;
			- var datetime = page._id.getTimestamp()
			- datetime = (datetime.getMonth() + 1) + '/' + datetime.getDate() + '/' + datetime.getFullYear()
			each o in page.components
				if o.component_type == "header"
					- title = o.component_data["title"]
					- author = o.component_data["author"]
					- coverImageUrl = o.component_data["coverImageUrl"]
					break

			//- Display data
			div.col-md-4.col-sm-6.page
				p.title Title: #{title}
				p.author Author: #{author}
				span.datetime Date Created: #{datetime}
				div
					img(src=coverImageUrl, class="coverImage")
				a(class='btn btn-default' href='/update?pageID=' + page._id) Update
				form(method='POST', action='/page/#{page._id}?_method=DELETE')
					button(type='submit') Delete
			