extends template

block content
	div.grid.all_pages
		each page in pages
			//- Extract data
			- var title = 'N/A';
			- var author = 'N/A';
			- var coverImageUrl = 'http://placehold.it/400x275';
			- var datetime = page._id.getTimestamp()
			- datetime = (datetime.getMonth() + 1) + '/' + datetime.getDate() + '/' + datetime.getFullYear()
			each o in page.components
				if o.component_type == "header"
					- title = o.component_data["title"]
					- author = o.component_data["author"]
					- coverImageUrl = o.component_data["image"]
					break

			//- Display data
			div.col-sm-6.col-md-3.page
				div.panel.panel-default
					div.cover-image-container
						img(src=coverImageUrl, class="coverImage card-img-top")
					div.panel-body
						p.title.card-text Title: #{title}
						p.author.card-text Author: #{author}
						span.datetime.card-text.text-muted Created #{datetime}
					
					div.panel-footer.clearfix
						div.col-sm-6
							a(class='btn btn-primary' href='/update?pageID=' + page._id) Update
						div.col-sm-6
							form(method='POST', action='/page/#{page._id}?_method=DELETE')
								button(class='btn btn-default' type='submit') Delete
						